html,
body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%; /* 10px*/
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

body {
  background-color: #fee440;
}

#heading {
  font-size: 10rem;
  margin-top: 5rem;
  text-align: center;
  color: #f15bb5;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 30vh;
}

#userInput {
  width: 75rem;
  height: 6.6rem;
  border-style: none;
  border-radius: 2rem;
  font-size: 2rem;
  text-align: center;
}
#submit {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 2rem;
}

.button {
  text-transform: uppercase;
  padding: 1.5rem 4rem;
  font-size: 1rem;
  border: 1px solid;
  border-radius: 10rem;
  background-color: #f15bb5;
}

#display {
  display: flex;
  justify-content: space-around;

  margin: auto;
  background-color: white;
  width: 75rem;
  height: 25rem;
  margin: auto;
  border-radius: 2rem;
  margin-top: 3.5rem;
  text-align: center;
  
}

/* .background{
  
} */
#emojis {
  font-size: 5rem;
  margin-top: 5.2rem;
  margin-bottom: 5rem;

}

#score {
  font-size: 3rem;
  display: inline-block;
}
#score-number {
  font-size: 3rem;
  display: inline-block;
}

#score-container {
  position: absolute;
  top: 5rem;
  left: 2rem;
  background-color: white;
  border-radius: 2rem;
  padding: 1rem;
}

#results {
  font-size: 3rem;
  text-align: center;
}

 .button:disabled {
  background-color: #cfcfcf;
} 

.next{
  display: inline-block;
}

 #next-btn{
  margin-top: 2rem;
  display: inline-block;
} 
