html,
body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%; /* 10px*/
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

body {
  background-color: #fad35c;
}

#heading {
  font-size: 10rem;
  margin-top: 5rem;
  text-align: center;
  color: #f28777;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 30vh;
  padding-bottom: 7rem;
  margin-top: 6rem;
}

#userInput {
  width: 50rem;
  height: 5rem;
  border-style: none;
  border-radius: 2rem;
  font-size: 2rem;
  text-align: center;
}
#submit {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 7rem;
  margin-top: 2rem;
}

.button {
  text-transform: uppercase;
  padding: 1.5rem 4rem;
  font-size: 1rem;
  border: 1px solid;
  border-radius: 10rem;
}

#picture-display {
  display: flex;
  justify-content: space-around;
  background-color: white;
  width: 100rem;
  margin: auto;
  border-radius: 20rem;
  margin-top: 3.5rem;
}
#emojis {
  font-size: 7rem;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

#score {
  font-size: 3rem;
  display: inline-block;
}
#score-number {
  font-size: 3rem;
  display: inline-block;
}

#score-container {
  position: absolute;
  top: 5rem;
  left: 2rem;
  background-color: white;
  border-radius: 2rem;
  padding: 1rem;
}

#results {
  font-size: 3rem;
  text-align: center;
}
